<div style="...">
    <table>
        <tr>
            <td>选择文件：</td>
            <td>
                <form id="restore-uploadForm" enctype="multipart/form-data"
                      style="margin:0;padding: 5px 0 0 25px;color: #333;Float:left ">
                    <input id="restore-file" type="file" style="width: 150px" name="file"/>
                </form>
            </td>
            <td><input id="restore-postPath" type=button value="提交"></td>
        </tr>
    </table>
</div>
<script type="text/javascript" src="/js/database-restore.js"></script>
