<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>超级管理员登录</title>
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1/5/4/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1/5/4/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/teacherIndex.css"/>
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'header',split:true,noheader:true"
     style="height:60px;background: #666">
    <div class="logo">后台管理</div>
    <div class="logo">超级管理员端</div>
    <div class="logout">您好，<span id="managerNameP" style="color:white;"></span>管理员，| <a href="">退出</a></div>
</div>
<div data-options="region:'south',title:'footer',split:true,noheader:true"
     style="height:35px;line-height: 30px;text-align: center;">
    @Copy;2018-2030 重庆邮电大学
</div>
<div data-options="region:'west',title:'导航',split:true" iconCls="icon-navigator" style="width:180px;padding: 10px;">
    <div id="manager_nav">

    </div>
</div>
<div data-options="region:'center'" style="overflow: hidden">
    <div id="manager_tabs">
        <div title="起始页" iconCls="icon-house" closable=true style="padding:0 10px; display: block;
        ">
            欢迎您来到课程资源后台管理系统！
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/jquery-easyui-1/5/4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/js/jquery-easyui-1/5/4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/managerIndex.js"></script>
</html>