<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>音频资料</title>
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1/5/4/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/js/jquery-easyui-1/5/4/themes/icon.css"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
</head>
<body>
<div>
    <p style="margin: 12px 0 0 20px;line-height: 150%;">资料主题：</p>
    <p id="media_title" style="margin: 12px 0 0 20px;"></p>
    <p style=" margin: 12px 0 0 20px;line-height: 150%;">资料描述：</p>
    <p id="media_desc" style="margin: 12px 0 0 20px;"></p>
    <p style="margin: 12px 0 0 20px;line-height: 150%;">资料音频：</p>
    <audio id="audio_show" controls="controls">
        Your browser does not support the audio element.
    </audio>
</div>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/jquery-easyui-1/5/4/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/js/jquery-easyui-1/5/4/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/media_audio_detail.js"></script>
</body>
</html>