<div id="studying_material_manage_tool" style="padding: 5px">
    <div>
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="ture" , onclick="manage_tool.add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="ture" , onclick="manage_tool.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="ture" ,
           onclick="manage_tool.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-reload" plain="ture" ,style="display: none"
           onclick="manage_tool.reload();">刷新</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="ture" , style="" onclick="manage_tool.redo();">取消选择</a>
    </div>
    <div style="padding: 0 0 0 7px; color: #333;">
        查询内容主题:<input id="studying_material_articleTitle" type="text" class="textbox" name="article"
                      style="width: 110px"/>
        创建时间从：<input id="studying_material_createTimeBegin" type="text" class="easyui-datebox" name="data-from"
                     style="width:110px"/>
        到：<input id="studying_material_createTimeEnd" type="text" class="easyui-datebox" name="data-to"
                 style="width:110px"/>
        <a href="javascripr:void(0);" id="studying_material_searchArticle" class="easyui-linkbutton"
           iconCls="icon-search">查询</a>
    </div>
</div>
<table id="studying_material_teacher_article_manager"></table>
<!--<div id="studying_material_dd" class="easyui-dialog" title="My Dialog" style="width:400px;height:200px;">-->
<div id="studying_material_article_add_div" class="easyui-dialog" title="My Dialog" style="width:400px;">
    <form id="studying_material_article_add" style="margin:0;padding: 5px 0 0 25px;color: #333;">
        <p>资料主题:<input id="studying_material_articleName" class="text" type="text" name="input_add"
                       data-options="required:true"
                       style="width: 200px;"/>
        </p>
        <p>资料描述:<textarea id="studying_material_articleDscrp" class="text-area" name="message" style="width: 200px;"/>
        </p>
        <p>资料类型：<select id="media_add_type" class="easyui-combobox" name="dept" style="width:200px;">
            <option value="0" selected="selected">文章</option>
            <option value="1">音频</option>
            <option value="2">视频</option>
        </select></p>
    </form>
    <table>
        <tr>
            <th><!-- 上传文件请应一个非常纯净的form，避免出错-->
                <form id="studying_material_uploadForm" enctype="multipart/form-data"
                      style="margin:0;padding: 5px 0 0 25px;color: #333;Float:left ">
                    <p>资料上传:<input id="studying_material_file" type="file" style="width: 150px" name="file"/></p>
                </form>
            </th>
            <th>
                <div id="studying_material_upload_file_form" style="margin:0;">
                    <button value="上传" id="studying_material_file_upload">上传</button>
                </div>
            </th>
        </tr>
        <tr id="studying_material_file_url_fiv_row" style="display: none;margin:0;padding: 5px 0 0 25px;">
            <td align="right">
                <div align="right">
                    <a id="studying_material_fileUrl" download="">查看资料</a>
                </div>
            </td>
            <td>
                <div align="right">
                    <a id="studying_material_deletFileUrl" href="javascript:void(0);">删除资料</a>
                </div>
            </td>
        </tr>
    </table>
    <!--<p style="display: none">文件路径:<input type="text" data-options="required:true"
                                         id="studying_material_file&#45;&#45;edit-path"/></p>-->
</div>

<div id="studying_material_article_edit_div" class="easyui-dialog" title="My Dialog" style="width:400px;">
    <form id="studying_material_article_edit" style="margin:0;padding: 5px 0 0 25px;color: #333;">
        <input id="studying_material_id" class="text" type="text" name="input_add" data-options=""
               style="width: 200px;display: none" disabled="disabled"/>
        <p>资料主题:<input id="studying_material_articleEditName" class="text" type="text" name="input_add" data-options=""
                       style="width: 200px;"/>
        </p>
        <p>资料描述:<textarea id="studying_material_articleEditDscrp" class="text-area" name="message"
                          style="width: 200px;"/></p>
        <p>资料类型：<select id="media_type" class="easyui-combobox" name="dept" style="width:200px;">
            <option value="0" selected="selected">文章</option>
            <option value="1">音频</option>
            <option value="2">视频</option>
        </select></p>

    </form>
    <table>
        <tr>
            <th><!-- 上传文件请应一个非常纯净的form，避免出错-->
                <form id="studying_material_uploadEditForm" enctype="multipart/form-data"
                      style="margin:0;padding: 5px 0 0 25px;color: #333;Float:left ">
                    <p>上传文件:<input id="studying_material_fileEdit" type="file" style="width: 150px" name="file"/></p>
                </form>
            </th>
            <th>
                <div id="studying_material_upload_file_Edit_form" style="margin:0;">
                    <button value="上传" id="studying_material_file_edit_upload">上传</button>
                </div>
            </th>
        </tr>
        <tr id="studying_material_file_url_eidt_fiv_row" style="display: none;margin:0;padding: 5px 0 0 25px;">
            <td align="right">
                <div align="right">
                    <a id="studying_material_fileEidtUrl" download="">查看文件</a>
                </div>
            </td>
            <td>
                <div align="right">
                    <a id="studying_material_deletFileEditUrl" href="javascript:void(0);">删除文件</a>
                </div>
            </td>
        </tr>
    </table>

</div>
<script type="text/javascript" src="/js/studying-material-manager.js"></script>